
/*******************************************************************
/* Setup the page Defaults:
/* - Default all margins and padding to 0 
/* - include padding and border in the element's total height and width 
/*******************************************************************/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*******************************************************************
/* Setup the default background color for all Body elements
/*******************************************************************/

body {
    background-color: #d9dcd6;
}

/*******************************************************************
/* Setup the header line
/*******************************************************************/

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Allow the header to be on the same line as the nav entries */
header h1 {
    display: inline-block;
    font-size: 32px;
}

/* Removed special seo coloring...I thought it looked cool, but it's not in the .pdf */
/* header h1 #seo {color: #949494;} */

header nav {
    padding-top: 15px;
    margin-right: 1%;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
}

header p {
    font-size: 16px;
}

/*******************************************************************
/* Setup the hero image, akin to a header picture
/*******************************************************************/

#hero {
    height: 800px;
    width: 100%;
    margin-bottom: 1.5%;
    background-image: url("../images/digital-marketing-meeting.jpg"); alt:"background";
    background-size: cover;
    background-position: center;
}

/*******************************************************************
/* Assign float classes for global use
/*******************************************************************/

.float-left {
    float: left;
    margin-right: 1%;
}

.float-right {
    float: right;
    margin-left: 1%;
}

/*******************************************************************
/* Format the main document Section
/* - width percentages so document expands and contracts fluidly
/* - inline-block so Section and Aside can be adjacent
/*******************************************************************/

section {
    width: 75%;
    display: inline-block;
    margin-left: 1.5%;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section img {
    max-height: 200px;
    padding: 2%;
}

section h2 {
    margin-bottom: 20px;
    font-size: 44px;
}

/*******************************************************************
/* Setup the individual articles, new lines for each
/*******************************************************************/

article {
    display: block;
    margin-bottom: 2%;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*******************************************************************
/* Format the aside column
/*******************************************************************/

aside {
    width: 20.5%;
    height: 100%;
    clear: both;
    float: right;
    margin-right: 1.5%;
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #d9dcd6;
}

/*******************************************************************
/* Format the aside-entry items
/*******************************************************************/

.aside-entry {

    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri' , 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    text-align: center;
}

.aside-entry h3 {
    text-align: center;
    margin-bottom: 10px;
}

.aside-entry p {
    text-align: left;
    margin-bottom: 10px;
}

.aside-entry img {
    max-width: 150px;
}

/*******************************************************************
/* Remove footer as it does not exist on the answer .pdf
/*******************************************************************

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
*/